### GitHub related
ignore.github/*
.github/

#### Local development related
phpunit.xml
unittest.php
.env
.phpunit*
tests/
test.sh
coverage-report/

#### Security: avoid leaking credentials
src/config.php

##### Composer
composer.*
/vendor/

##### Windows
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

##### MacOS
# General
.DS_Store
.AppleDouble
.LSOverride
